@page "/players/edit"
@using Microsoft.EntityFrameworkCore
@using DataAcess
@inject IDbContextFactory<FootballManagementSystem.Data.FootballManagementSystemContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Player</h2>
<hr />
@if (Player is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Player" OnValidSubmit="UpdatePlayer" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Player.ID" value="@Player.ID" />
                <div class="mb-3">
                    <label for="name" class="form-label">Name:</label>
                    <InputText id="name" @bind-Value="Player.Name" class="form-control" />
                    <ValidationMessage For="() => Player.Name" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="age" class="form-label">Age:</label>
                    <InputNumber id="age" @bind-Value="Player.Age" class="form-control" />
                    <ValidationMessage For="() => Player.Age" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="position" class="form-label">Position:</label>
                    <InputText id="position" @bind-Value="Player.Position" class="form-control" />
                    <ValidationMessage For="() => Player.Position" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="stats" class="form-label">Stats:</label>
                    <InputNumber id="stats" @bind-Value="Player.Stats" class="form-control" />
                    <ValidationMessage For="() => Player.Stats" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="teamid" class="form-label">TeamID:</label>
                    <InputNumber id="teamid" @bind-Value="Player.TeamID" class="form-control" />
                    <ValidationMessage For="() => Player.TeamID" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/players">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int ID { get; set; }

    [SupplyParameterFromForm]
    private Player? Player { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Player ??= await context.Player.FirstOrDefaultAsync(m => m.ID == ID);

        if (Player is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePlayer()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Player!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PlayerExists(Player!.ID))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/players");
    }

    private bool PlayerExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Player.Any(e => e.ID == id);
    }
}
