@page "/players"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using DataAccess
@using FootballManagementSystem.Data
@implements IAsyncDisposable
@inject IDbContextFactory<FootballManagementSystem.Data.FootballManagementSystemContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="players/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Player">
    <PropertyColumn Property="player => player.Name" />
    <PropertyColumn Property="player => player.Age" />
    <PropertyColumn Property="player => player.Position" />
    <PropertyColumn Property="player => player.Stats" Title="PlayersStrength" />
    <PropertyColumn Property="player => player.Team.Name" />

    <TemplateColumn Context="player">
        <a href="@($"players/edit?id={player.ID}")">Edit</a> |
        <a href="@($"players/details?id={player.ID}")">Details</a> |
        <a href="@($"players/delete?id={player.ID}")">Delete</a>  |
        <a href="@($"players/list?id={player.ID}")">List</a> |
    </TemplateColumn>
</QuickGrid>

@code {
    private FootballManagementSystemContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
        context.Team.ToList();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
